---
import ContentPage from '../layouts/ContentPage.astro';
import ContentPageImage from '../components/ContentPageImage.astro';
---

<ContentPage title="Our teaching methodology">
	<p>
		Explore Bethink's Educational Methodology, a finely crafted approach developed over the
		years through continuous refinement and proven effectiveness. This methodology,
		designed to transcend traditional education models, addresses the dynamic needs of
		learners. From precise material selection to collaborative learning, it's a holistic
		system that has successfully guided tens of thousands of participants on their
		educational journeys.
	</p>

	<p>
		Our teaching approach isn't just a set of principles; it's a proven system that adapts
		to real-world challenges, resulting in tangible success for our diverse community of
		learners. Join us as we delve into the intricacies of effective education, where
		innovation meets knowledge, and where your educational goals become achievable
		realities.
	</p>

	<ContentPageImage
		src="https://res.cloudinary.com/bethink/image/upload/v1700720330/bethink__education__materials_selection_auicn4.png"
		caption="Small, atomic slides help students focus on what's important"
	/>

	<h2>Material Selection</h2>
	<p>
		In an era of information overload, educational material must be precisely tailored to
		the student's needs and learning objectives. Thoughtful material selection
		significantly reduces the time needed to grasp key information. Leveraging modern
		technologies, we assist students in managing and pacing their learning journey.
	</p>
	<p>
		The creation of an electronic library of educational materials has successfully
		eliminated common challenges faced by learners. Questions like "What should I study?"
		or "Is my textbook still relevant?" are swiftly addressed through our notification
		system, error correction mechanisms, and the constant presence of educational
		supervisors on the platform.
	</p>
	<p>
		We rely on proven sources, continuously seek the latest guidelines, and respond to
		thousands of questions posed by our students. This approach has enabled us to craft
		unique educational materials tailored to exam preparation, setting almost 20,000
		medical graduates on a path to success.
	</p>
	<p>
		Effective navigation in lessons, content search functionality, and slide design
		optimization contribute to preserving your operational memory. This ensures sustained
		focus during prolonged study sessions, reducing the risk of information overload and
		associated headaches.
	</p>

	<ContentPageImage
		src="https://res.cloudinary.com/bethink/image/upload/v1700720330/bethinkgroup__education__work_plan_ch9e3h.png"
		caption="All modules help students plan and monitor their work"
	/>

	<h2>Work Plan</h2>
	<p>
		A well-designed plan is half the battle in educational success. Planning study
		sessions, estimating material coverage, breaking it into manageable parts, and
		regularly measuring progress are common challenges.
	</p>
	<p>
		We address these issues by creating tools for study management and raising awareness of
		the time needed for comprehensive exam preparation. While creating our courses, we
		meticulously estimate the time required for completion.
	</p>
	<p>
		A well-constructed work plan not only instills a sense of security but also allows for
		effective and less rushed learning. Recognizing the individuality of learners, we
		provide tools for personalized study planning, allowing you to set your pace and
		achieve your goals.
	</p>

	<h2>Knowledge Systematization</h2>
	<p>
		Conscious organization of knowledge serves as a powerful motivator for ongoing
		development. Proper material systematization enables layered learning, constructing
		levels of detail on solid foundations.
	</p>
	<p>
		This approach saves time wasted on deciding how to process material independently, how
		to repeat it, and how to catalog unknown information. The goal of knowledge
		systematization is to ensure that your knowledge is appropriately organized, readily
		accessible, and integrated with what you already know – fostering a state of conscious
		competence.
	</p>

	<ContentPageImage
		src="https://res.cloudinary.com/bethink/image/upload/v1700720510/bethinkgroup__education_knowledge_systematization_ivnojo.jpg"
		caption="An example stub of a mind map students can expand with their notes"
	/>

	<h2>Knowledge Retrieval Process</h2>
	<p>
		Effective learning hinges on the retrieval of information from long-term memory. By
		actively recalling information, we signal to the brain that it is vital and requires
		strengthened access.
	</p><p>
		However, the process of repetition must be conducted appropriately to avoid the
		illusion of knowledge. Our courses facilitate effective recall through open-ended
		questions, visualizations, and note-taking. Each day begins with intensive reviews,
		utilizing ready-made review sets, platform tools, and the course plan for more
		efficient learning.
	</p>

	<h2>Effective Learning Techniques</h2>
	<p>
		In situations where material overwhelms time, proper organization becomes pivotal for
		educational success. We employ two standout techniques – mind maps and visualization
		methods – to assist learners in managing extensive information.
	</p><p>
		Mind mapping, based on multidirectional thinking, taps into our mind's ability to
		process and store an unlimited amount of information in visual form. Learners create
		maps themselves, stimulating creativity during learning through manual notation.
	</p>

	<h2>Collaborative Learning</h2>
	<p>
		Teaching others is an incredibly effective self-learning method. Explaining a concept
		to someone else implies a deep understanding and enhances long-term retention. Our
		community, consisting of thousands of learners, fosters constant improvement of
		educational materials through questions, discussions, and numerous suggestions.
	</p><p>
		Facing challenges in understanding material or questioning its relevance? Our
		community-driven communication tools address all queries and uncertainties, converting
		suggestions into content updates. Traditional textbooks lack this flexibility.
	</p>

	<ContentPageImage
		src="https://res.cloudinary.com/bethink/image/upload/v1700720330/bethinkgroup__education__collaborative_ndxq1x.png"
		caption="Students can ask questions contextually, right where they arise"
	/>

	<h2>Motivation</h2>
	<p>
		Motivation involves creating a supportive environment to help you choose and achieve
		specific educational goals. Rooted in the principles of Susan Ambrose and Carol Dweck,
		our motivation pillars emphasize a supportive environment, the perceived value of
		learning goals, and a sense of accomplishment and effectiveness in learning.
	</p>
	<p>
		The "growth mindset" concept, developed by Carol Dweck, underscores the impact of our
		attitudes on motivation and learning. Emphasizing that learning is a process and
		everyone can achieve their goals, this mindset encourages continuous effort.
	</p>
	<p>
		Our courses not only share knowledge but also inspire participants to collaborate.
		Teamwork enhances learning efficiency and facilitates covering more material than
		solitary study. The community offers support during challenging moments and provides
		guidance when obstacles arise on the path to achieving goals.
	</p>
</ContentPage>
