---
import ContentPage from '../layouts/ContentPage.astro';
import ContentPageImage from '../components/ContentPageImage.astro';
import { SITE_TITLE } from '../consts';

const meta = {
	title: `Our story - ${SITE_TITLE}`,
	description:
		'Learn how we bootstrapped our way from two founders with a vision to several brands, a presence in multiple markets, and a team of over 80 people.',
};
---

<ContentPage title="Our story" meta={meta}>
	<p class="text-xl">
		Learn how we bootstrapped our way from two founders with a vision to several brands, a
		presence in multiple markets, and a team of over 80 people.
	</p>
	<p>
		In 2015, Bethink's journey began when Dariusz Chrapek, driven by a passion for
		effective learning, recognized a pressing need for a better approach to preparing for
		LEK (Lekarski Egzamin Końcowy), the final medical state exam in Poland. He reached out
		to his friend, Adam Karmiński, who brought his expertise in design and technology to
		the table, aligning their skills for a greater cause. That's how <a
			href="https://wiecejnizlek.pl"
			target="_blank"
			class="whitespace-nowrap">Więcej niż LEK</a
		> was established.
	</p>

	<p>
		Following thorough analysis, we made the decision to develop a custom e-learning
		platform that could embody our vision for online education. Securing a bank loan in
		2016, we hired our first two employees and began working full-time on our inaugural
		e-learning course, "Kurs do LEK."
	</p>

	<ContentPageImage
		src="https://res.cloudinary.com/bethink/image/upload/v1700714977/bethinkgroup__our_story__early_stage_gwqd22.jpg"
		caption="Our first office in Adam's apartment"
	/>

	<p>
		"Kurs do LEK" became a cornerstone, helping almost 20,000 medical graduates start their
		professional journeys. Bolstered by this success, we expanded into dentistry in 2018
		with "Kurs do LDEK", replicating our achievements. The year 2019 marked a pivotal
		moment as we secured our first investment deal with business angels, propelling us into
		high school education with the <a
			href="https://wiecejnizmatura.pl"
			target="_blank"
			class="whitespace-nowrap">Więcej niż Matura</a
		> brand and expanding our offerings for medical students.
	</p>

	<p>
		Today, Bethink has grown to over 95 dedicated individuals running more than 20 courses,
		annually serving over 17,000 students. "Więcej niż LEK" stands tall as a leader in
		medical online education in Poland, earning the trust of prestigious institutions like
		the Medical University of Warsaw, Medical University of Zielona Góra, Lazarski
		University in Warsaw, and Andrzej Frycz Modrzewski Cracow University. Simultaneously,
		"Więcej niż Matura" is rapidly becoming the new standard for high-school online
		education.
	</p>

	<ContentPageImage
		src="https://res.cloudinary.com/bethink/image/upload/v1700715532/bethinkgroup__our_story__first_allhands_sqprym.jpg"
		caption="Our first all-hands meeting lead by Adam Karmiński and Dariusz Chrapek"
	/>

	<p>
		The success story not only allowed us to expand our educational reach but also to
		invest in other transformative ventures. Founded in 2019, <a
			href="https://twojdyzur.pl"
			target="_blank"
			class="whitespace-nowrap">Twój Dyżur</a
		> is a project aimed at supporting emergency room doctors, providing a solid, evidence-based
		foundation often lacking in traditional educational settings. By 2023, our reach extended
		to general health education with the brand <a
			href="https://najprosciejmowiac.pl"
			target="_blank"
			class="whitespace-nowrap">Najprościej Mówiąc</a
		>, which started as a popular science YouTube channel, now with over 200,000
		subscribers, and now is scaling its operations with practical articles and courses for
		patients.
	</p>

	<p>
		Beyond medical and high-school education, we also focus on effective learning. Our
		course published at <a
			href="https://bethink.space"
			target="_blank"
			class="whitespace-nowrap">Bethink.space</a
		> has helped over 1000 people change their learning habits and develop a love for learning.
	</p>

	<ContentPageImage
		src="https://res.cloudinary.com/bethink/image/upload/v1700715696/bethink__home__everyone_juacoj.jpg"
		caption="Bethink's 5th birthday party in 2022"
	/>

	<p>
		However, perhaps one of Bethink's most significant successes lies in the company
		culture we have cultivated over the years. Focused on autonomy, mastery, and purpose,
		our team has created a unique environment that combines candid communication with a
		shared growth mindset. This environment not only values open dialogue and addresses
		conflicts head-on but is also built on a foundation of genuine care for each other.
	</p>

	<p>
		Bethink's story is one of continuous growth, innovation, and impact. If you wish to be
		a part of this transformative journey and contribute to the lives of many through
		education, join Bethink. Together, let's continue transforming lives with the power of
		education.
	</p>
</ContentPage>
