---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
	href={href}
	class:list={[
		className,
		isActive
			? 'text-link underline underline-link underline-offset-8 decoration-4'
			: 'text-text',
		'font-extrabold',
	]}
	{...props}
>
	<slot />
</a>
