---
import { type PageMeta } from '../types';
import Page from './Page.astro';

interface Props {
	title: string;
	meta?: Partial<PageMeta>;
}

const { title, meta } = Astro.props;
---

<Page title={title} meta={meta}>
	<div class="prose mx-auto max-w-3xl">
		<slot />
	</div>
</Page>
