---
import '@fontsource/rubik/400.css';
import '@fontsource/rubik/700.css';
import '@fontsource/rubik/900.css';
import { ViewTransitions } from 'astro:transitions';
import { type PageMeta } from '../../src/types';
import DefaultHead from '../components/DefaultHead.astro';
import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';

interface Props {
	meta?: Partial<PageMeta>;
}

const { meta } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<DefaultHead meta={meta} />
		<ViewTransitions />
	</head>

	<body class="bg-canvas text-text">
		<noscript>
			<iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-5NB2ZP64"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe>
		</noscript>

		<Header client:only />
		<main class="relative isolate z-0">
			<slot />
		</main>
		<Footer />
	</body>
</html>
