---
import { type PageMeta } from '../types';

interface Props {
	title: string;
	meta?: Partial<PageMeta>;
}

const { title, meta } = Astro.props;

import DefaultLayout from './DefaultLayout.astro';
---

<DefaultLayout meta={meta}>
	<div class="max-w-3xl mx-auto px-4">
		<h1 class="text-4xl my-12 font-bold tracking-tight">{title}</h1>
		<slot />
	</div>
</DefaultLayout>
